.askmyhat-chat {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0;

  background-color: lightblue;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.askmyhat-chat__view {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;

  background-color: white;
}

.askmyhat-chat__btn_close {
  align-self: flex-end;

  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
}

.askmyhat-chat__btn {
  box-sizing: border-box;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.askmyhat-chat__btn:focus {
  outline: none;
}

.askmyhat-chat__btn_menu {

}

.askmyhat-chat__panel {
  position: relative;
}

.askmyhat-chat__btn-list {
  display: none;

  position: absolute;
  bottom: 10px;
  left: 0;

  padding: 5px;

  background-color: white;
  list-style: none;
}

.askmyhat-chat__btn-item {
  margin: 5px 0;
  border-bottom: 1px solid lightgray;
}
