.shpindler-chat {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;

  background-color: lightblue;
}

.shpindler-chat__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.shpindler-chat__view {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 460px;
  padding: 0;
  margin: 0;
  padding: 5px;

  border-left: 1px solid lightblue;

  background-image: linear-gradient(to right top, lightblue, white);
  overflow: scroll;
  list-style: none;
}

.shpindler-chat__message {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid lightblue;
  border-radius: 20px;
}

.shpindler-chat__message_client {
  align-self: flex-end;
  background-color: lightgreen;
}

.shpindler-chat__message_server {
  align-self: flex-start;
  background-color: #fefefe;
}

.shpindler-chat__message_error {
  max-width: 100%;
  color: red;
  border: none;
  text-align: center;
  flex-grow: 1;
}

.shpindler-chat__author {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.shpindler-chat__text {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.shpindler-chat__image {
  display: block;
}

.shpindler-chat__image img {
  max-width: 200px;
  height: auto;
}

.shpindler-chat__btn {
  box-sizing: border-box;
  display: flex;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}

.shpindler-chat__btn_close {
  align-self: flex-end;

  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
}

.shpindler-chat__btn:focus {
  outline: none;
}

.shpindler-chat__btn_menu {
  margin-right: 10px;
}

.shpindler-chat__panel {
  position: relative;
  display: flex;
  background-color: white;

  box-sizing: border-box;
  width: 100%;
  border-left: 1px solid lightblue;
}

.shpindler-chat__btn-list {
  display: none;

  position: absolute;
  bottom: 10px;
  left: 0;

  padding: 5px;

  background-color: white;
  list-style: none;
}

.shpindler-chat__btn-item {
  margin: 10px 0;
}

.shpindler-chat_turned {
  padding: 0;
}

.shpindler-chat__btn_turn {
  position: relative;

  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
}

.shpindler-chat__btn_turn::after {
  content: "";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 20px;
  background-color: black;
}

.shpindler-chat > * {
  transition: height 0.6s ease;
}

.shpindler-chat_turned > * {
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
}

.shpindler-chat_turned .shpindler-chat__header {
  height: auto;
}

.shpindler-chat__input {
  flex-grow: 1;

  border: none;
  height: 30px;
}

.shpindler-chat__input_image {
  display: none;
}

.shpindler-chat__input:focus {
  outline: none;
}

.shpindler-chat__message-btn-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.shpindler-chat__message-btn-item {

}

.shpindler-chat__message-btn {
  display: inline-block;
  padding: 5px;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  background-color: lightblue;
  box-shadow: inset 0 -1px 0 0;
  cursor: pointer;
}

.shpindler-chat__message-btn:hover {
  background-color: black;
  color: lightblue;
}

.shpindler-chat__message-btn:active {
  box-shadow: 0 -1px 0 0;
}
